<p>
    {{answerAuthorName}}
    answered your question.
</p>

<div class='section'>
    <p>
        Question:
    </p>
    <p>
        {{questionPreviewText}}
    </p>
</div>

<p>
    Answer:
    <a href='{{answerUrl}}'>View answer</a>
</p>