<p>
    {{answerAuthorName}}
    replied to your answer.
</p>

<div class='section'>
    <p>
        Answer:
    </p>
    <p>
        {{answerPreviewText}}
    </p>
</div>

<p>
    Reply:
    <a href='{{answerUrl}}'>View reply</a>
</p>